VITE_SUPABASE_URL= "https://cxfsgxpgkoxkxhyxzzne.supabase.co"
VITE_SUPABASE_ANON_KEY= "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN4ZnNneHBna294a3hoeXh6em5lIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTM5MjU2NjIsImV4cCI6MjA2OTUwMTY2Mn0.YEqAxmUUIXHT6vRE1nZy4Tet1ije9uVRTgKrpWqYat0"